@import url("../src/font/font.css");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  width: 100%;
}

details > summary {
  list-style-type: "👉 ";
  cursor: pointer;
  transition: margin 0.2s ease;
}

details[open] > summary {
  list-style-type: "👇 ";
  margin-bottom: 20px;
}

.educationDetail > summary {
  list-style-type: none;
  cursor: pointer;
  transition: margin 0.2s ease;
  display: flex;
  align-items: center;
}

.educationDetail > summary::before {
  content: "📘";
  margin-right: 8px;
}

.educationDetail[open] > summary::before {
  content: "📖";
}

.image-gallery-wrapper {
  margin-top: 5rem;
  max-width: 800px;
  width: 100%;
  height: 300px;
  max-height: 533px;
  margin: 0 auto;
  border: 1px solid rgb(146, 129, 242);
  box-shadow: #2b15453d 1px 10px 10px 5px;
}

.image-gallery-slides {
  border-radius: 1rem;
}
.image-gallery-image {
  border-radius: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
